* {
  padding: 0;
  margin: 0;
}
#logo {
  margin-top: 3px;
  padding: 0;
}
img {
  border-radius: 30%;
}
ul {
  list-style-type: none;
  background: grey;
  display: flex;
  margin-bottom: 0;
  box-sizing: content-box;
  /* justify-content: space-evenly; */
}

ul > li {
  padding: 20px 10px 10px 10px;
  text-transform: uppercase;
  flex: auto;
  text-align: center;
  align-content: center;
  align-items: baseline;
  justify-content: baseline;
}
#navid > ul > li:hover {
  background: white;
  color: black;
  border-radius: 4px;
}
